html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

canvas {
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 2px solid rgb(0, 0, 0);
}
#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: black;
  padding: 10px 20px;
  background-color: white;
}
#start:hover {
  background-color: rgb(0, 162, 255);
  transition: all 200ms;
}
